C:\Users\Sofie\Documents\Visual Studio 2017\Projects\AnturaSemester\AnturaSemester\AnturaSemester\bin\
C:\Users\Sofie\Documents\Visual Studio 2017\Projects\AnturaSemester\AnturaSemester\AnturaSemester\obj\