@model IEnumerable<AnturaSemester.Models.Roles>

@{
    ViewData["Title"] = "Roles";
}

<h2>Index</h2>

<p>
    <a href="Roles/Create" class="btn btn-success" role="button">Create New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Rolerball"]">Roles</a>

            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
