@model AnturaSemester.Models.SemesterViewModel

@{
    ViewData["Title"] = "Semester";
}

<form asp-action="Default">
    <div class="form-horizontal">
        <h4>SemesterViewModel</h4>
        <hr />

        <div class="dropdown">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose User <span class="caret"></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">User 1</a>
                <a class="dropdown-item" href="#">User 2</a>
                <a class="dropdown-item" href="#">User 3</a>
            </div>
        </div>
        <br />

        

        
        <!--Datepicker start-->
        <div id="sandbox-container">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" />
            </div>
            
        </div>
        <script type="text/javascript">
            $('#sandbox-container .input-daterange').datepicker({
                startView: 1,
                forceParse: false,
                daysOfWeekHighlighted: "0,6",
                calendarWeeks: true,
                todayHighlight: true
            });
        </script>

        <!--DatePicker End-->
        <br />
        <div class="dropdown">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose Absence Type <span class="caret"></span></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">User 1</a>
                    <a class="dropdown-item" href="#">User 2</a>
                    <a class="dropdown-item" href="#">User 3</a>
                </div>
            </div>
            <br /> 

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Repeat Absence?
            </label>
        </div>

        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
        

        
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}