

@{
    ViewData["Title"] = "Home Page";
}


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">A-Team</a></li>
    <li role="presentation"><a href="#">PD</a></li>
    <li role="presentation"><a href="#">Poäng</a></li>
</ul>

@await Component.InvokeAsync("Calendar")




@ViewBag.Message









