@model List<AnturaSemester.Models.Users>

@{
    ViewData["Title"] = "Home Page";
}


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a class="navbar-link active" data-toggle="tab" href="#home">A-Team</a></li>
    <li role="presentation"><a class="navbar-link active" data-toggle="tab" href="#menu1">PD</a></li>
    <li role="presentation"><a class="navbar-link active" data-toggle="tab" href="#menu2">Poäng</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    <h3>A-Team</h3>

        <table class="">  


  
            <!--Fick ändra från ViewBags till DateTime.-->
               @await Component.InvokeAsync("Calendar", new { year = ViewBag.Year, month = ViewBag.Month })

       
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
                Semesterplanering
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Semesterplanering</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Datepicker <br />
                            Type of absence dropdown <br />
                            Repeat check box <br />
                            Commentbox <br />


                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
                

        </table>   
            
        
    </div>


   



   

    <div id="menu1" class="tab-pane fade in">
        <h3>Product Development</h3>
        <p>drvfgtsbhy</p>
    </div>
    <div id="menu2" class="tab-pane fade in">
        <h3>Poäng</h3>

       
        
       


    </div>
</div>















