@model List<AnturaSemester.Models.Users>

@{
    ViewData["Title"] = "Home Page";
}


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a class="navbar-link active" data-toggle="tab" href="#home">A-Team</a></li>
    <li role="presentation"><a class="navbar-link active" data-toggle="tab" href="#menu1">PD</a></li>
    <li role="presentation"><a class="navbar-link active" data-toggle="tab" href="#menu2">Poäng</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    <h3>A-Team</h3>

        <table class="table-bordered table-hover table-condensed">
            <tr><th>
    <ul class="pagination">
        <li class="active">
        <li>
            <a href="@DateTime.Now.AddMonths(-1)"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">@DateTime.Now.ToString("MMMM").ToUpper()</a></li>
        <li>
            <a href="@DateTime.Now.AddMonths(1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>


</th>

                
                  @await Component.InvokeAsync("Calendar")
                
                

                @foreach (var item in Model)
            {
                    <tr>
                    <td>
                        @Html.DisplayFor(model => item.FullName)
                    </td>

                       
                    </tr>
                }
        </table>   
            
        
    </div>



    <div id="menu1" class="tab-pane fade in">
        <h3>Product Development</h3>
        <p>drvfgtsbhy</p>
    </div>
    <div id="menu2" class="tab-pane fade in">
        <h3>Poäng</h3>
        <!--DateTimePicker Test-->
        
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        print("testest");
                $('#datetimepicker1').datetimepicker();
            });
                </script>
            </div>
        </div>

        <!--DateTimePicker Test End-->


    </div>
</div>















