@{
    ViewData["Title"] = "Home Page";
}


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">A-Team</a></li>
    <li role="presentation"><a href="#">PD</a></li>
    <li role="presentation"><a href="#">Poäng</a></li>
</ul>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">MARS 2017</a></li>
      
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Placeholder dagar</a></li>
        
    </ul>


</nav>


  
    

